<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is index</h1>
    <!-- For loop to put categories here -->
    <ul>
      <% categoriesArray.forEach(category => { %>
      <li>
        <a href="/<%=category%>" ><%= category %></a>
        <form action="/update/">

        </form>
      </li>
      <% }) %>
    </ul>


    <!-- Create category form -->
     <form action="/createCategory" method="POST">
        <label for="category">Create category:</label>
        <input type="text" name="category" id="category">
        <button type="submit">Create</button>
     </form>
  </body>
</html>
